{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags thumbnail %}


{% block content %}

    {% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-2.2.4.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/united_row.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}
    <script type="text/javascript">
        $(document).ready(function () {
            groupCellTable(document.getElementById('table-estimate'), 0, 1);
        });

        $(function() {
          $('form').submit(function(e) {
            var data = {};
            var $form = $(this);

            data = $form.serialize();
            $.ajax({
              type: $form.attr('method'),
              url: $form.attr('action'),
              data: data
            }).done(function(receive) {
              $("body").html(receive);
            }).fail(function() {
            });
            e.preventDefault();
          });
        });
    </script>
    {% endaddtoblock %}

    <h1 class="text-center">Смета</h1>
    <table class="table table-hover" id="table-estimate">
        <thead>
            <tr>
                <th>Назначение</th>
                <th>Категория</th>
                <th>Название</th>
                <th>Артикул</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for item in estimate %}
                <tr>
                    <td id="{{ item.id }}" data-uuid="{{ item.uuid_id }}">
                        <form class="form-inline" action="" method="post">{% csrf_token %}
                            <div class="form-grop">
                                {{ item.comment}}
                                <input class="hidden" type="text" name='appointment' value='delete_items'>
                                <input class="hidden" type="text" name='uuid_id' value='{{ item.uuid_id }}'>
                                <button type="submit" class="close" data-dismiss="modal" aria-label="Close" title="Удалить">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td>{{ item.item.category}}</td>
                    <td>{{ item.item.name}}</td>
                    <td>{{ item.item.vendor_code}}</td>
                    <td>{{ item.price_per_item}}</td>
                    <td>{{ item.nmb}}</td>
                    <td>{{ item.total_price}}</td>
                </tr>
            {% endfor %}
        <tr class="">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>Итого:</th>
            <td>{{ estimate_price.sum }}</td>
        </tr>
        </tbody>
    </table>
{% endblock content %}